<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/stu/update" method="post">
    <input type="hidden" th:value="${student.getId()}" name="id"/>
        <tr>
            <td>姓名</td>
            <td><input type="text" name="name" th:value="${student.getName()}"/></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="age" th:value="${student.getAge()}"/></td>
        </tr>
        <tr>
            <td>生日</td>
            <td><input type="date" name="birthday" th:value="${#dates.format(student.getBirthday(),'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="修改"/></td>
        </tr>

    </form>
</body>
</html>